.social-container{
    padding-top: 5em;
    display: flex;
    gap:15px;
    justify-content: flex-end;
    padding-right: 5em;
    padding-bottom: 5em;
    .social{
        border: 1px solid #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 0.7em;
        color: #FFF;
        &:hover{
            border: 1px solid $SoftMagenta;
            color: $SoftMagenta;
        }
    }
}

@media only screen and (max-width: 1025px) {
    .social-container{
        padding-right: 0em;
        justify-content: center;
    }
}